[submodule "rtl/bus_arch_sv_pkg"]
	path = rtl/bus_arch_sv_pkg
	url = git@github.com:aignacio/bus_arch_sv_pkg.git
[submodule "rtl/cdc_components"]
	path = rtl/cdc_components
	url = git@github.com:aignacio/cdc_components.git
