name: Regression Tests

on:
  push:
    branches:
      - main
      - 'stable/**'
  # Disable because we will run self-host runners =)
  #pull_request:
    #branches:
      #- main
      #- 'stable/**'

jobs:
  build:
    runs-on: [self-hosted, ubuntu-22.04]

    strategy:
      matrix:
        python-version:
          - 3.7
          - 3.8
          - 3.9
          - '3.12'

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Verilator
      run: |
        sudo apt update -y
        sudo apt-get install git help2man perl python3 make autoconf g++ flex bison ccache -fy
        sudo apt-get install libunwind-dev libgoogle-perftools-dev numactl perl-doc -fy
        sudo apt-get install libfl2 -fy # Ubuntu only (ignore if gives error)
        sudo apt-get install libfl-dev -fy # Ubuntu only (ignore if gives error)
        sudo apt-get install zlib1g zlib1g-dev -fy # Ubuntu only (ignore if gives error)
        sudo apt-get install lcov -fy
        git clone https://github.com/verilator/verilator.git
        cd verilator
        git checkout v5.026 #stable
        autoconf
        ./configure
        make -j $(nproc)
        sudo make install
    - name: Install nox
      run: pip install --upgrade nox
    - name: Run nox tests
      run: nox -s "run-${{ matrix.python-version }}"


